.container {  
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.4fr;
  grid-template-rows: 2.5vh 95vh 2.5vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "barL bar barR"
    "component-list content component-hierarchy"
    "footerL view-content footerR";
}

.component-list { 
  grid-area: component-list;
  background-color: #1D2021;
  border-right:1px solid #3C3836;
  border-left: 1px solid #3C3836;
}

.content { 
  grid-area: content; 
  background-color: #1D2021;
  overflow:scroll;
  cursor:pointer;
  position:relative;
  width: 100%;
}

.content.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.bar { 
  grid-area: bar; 
  background-color: #1D2021;
  border:1px solid #3C3836;
}

.barL { 
  grid-area: barL; 
  background-color: #1D2021;
  border:1px solid #3C3836;
}

.barR { 
  grid-area: barR; 
  background-color: #1D2021;
  border:1px solid #3C3836;
}

.component-hierarchy { 
  grid-area: component-hierarchy; 
  background-color: #1D2021;
  border-left:1px solid #3C3836;
  border-right:1px solid #3C3836;
}

.footer { 
  grid-area: footer; 
  background-color: #1D2021;
  border:1px solid #3C3836;
}

.view-content{
  grid-area:view-content;
  background-color: #1D2021;
  border:1px solid #3C3836;
}

.footerL{
  border-top:1px solid #3C3836 ;
}

.footerR{
  border-top:1px solid #3C3836 ;
}

.newCircuitWindow{
  float:inline-end;
  border: 1px solid #d5c4a1;
  margin:10px;
  bottom: 0;
  display: none;
}

.componentPropertyEditor{
  float:inline-end;
  border: 1px solid #d5c4a1;
  margin:10px;
  bottom: 0;
  display: none;
}

.circuitPropertyEditor{
  float:inline-end;
  border: 1px solid #d5c4a1;
  margin:10px;
  bottom: 0;
  display: none;
}

.exportWindow{
  float:inline-end;
  border: 1px solid #d5c4a1;
  margin:10px;
  bottom: 0;
  display: none;
}

button{
  float:right;
  background-color:#424242;
  border: none;
}

body{
  margin: 0;
  background-color: #1D2021;
  height: 100vh;
  overflow: hidden;
}

p, td, caption{
  color:#d5c4a1;
  margin: 0;
}

canvas{
  image-rendering: pixelated; 
  image-rendering: crisp-edges;
  position: absolute;
}

#grid-layer{
  z-index: 1;
}

#board-layer{
  z-index: 2;
}

#trace-layer{
  z-index:3;
}

#connector-layer{
  z-index:4;
}

#component-layer{
  z-index:5;
}

#highlight-layer{
  z-index:6;
}

select{
  border-color: #424242;
  background-color: #424242;
  color: #d5c4a1;
  float: right;
}

input{
  border-color: #424242;
  background-color: #424242;
  color: #d5c4a1;
  float: right;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  border:0;
}

ul{
  margin-top:5px;
}

html{
  user-select: none;
}

a{
  white-space: nowrap;
  padding: 0 14px;
  text-decoration: none;
  color: #d5c4a1;
  display: block;
}

/* Menu Bar Start*/
/* Program Name */
nav p{
  float: left;
  padding: 0 10px;
}

nav ul{
  display: inline;
  z-index: 10;
}

/* List Position */
nav ul li{
  float: left;
  list-style: none;
  position: relative;
}

/* Text Styling */
nav ul li a {
  padding: 0 14px;
  text-decoration: none;
  color: #d5c4a1;
  display: block;
}

/* Text when Hovering*/
nav ul li a:hover {
  color: #bda36c;
}

/* Nested List */
nav ul li ul {
  margin-top: 0;
  display: none;
  position: absolute;
  background-color: #333;
  padding: 0;
}

/* Hover on Text */
nav ul li:hover ul {
  display: block;
}
/* Menu Bar End*/

.component-list ul {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

.component-list ul li{
  list-style: none;
  align-items: center;
  display: flex;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 5px;
}

.component-list ul li a{
  text-decoration: none;
  color: #d5c4a1;
  padding-left: 5px;
}

.component-list ul li img{
  padding: 5px;
  height: 20px;
}

.items {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.items a{
  color:#d5c4a1;
  font-size: 12px;
}

/* Set all fonts */

*{
  font-family: Consolas, "Courier New", monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar{ background-color: #424242; }
::-webkit-scrollbar-track { background: #424242; }
::-webkit-scrollbar-thumb { background: #666; }
::-webkit-scrollbar-thumb:hover { background: #333; }
::-webkit-scrollbar-corner { background-color: #424242; }
::-webkit-scrollbar-button:hover { background: #666; }